<!DOCTYPE html>
<html lang="en">
    {% load static tailwind_tags %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NexPlan</title>
    {% tailwind_css %}
</head>
<body class="h-screen">

    <div class="flex flex-col justify-center items-center h-screen">
        <h1>Welcome to NexPlan!</h1>
        <form method="post" class="mx-auto text-center">
            <div>
                {% csrf_token %}
                {{form.Username}}
                {{form.Email}}
                {{form.Password}}
                {{form.Manager}}
            </div>
            <button type="submit" class="bg-black text-white rounded-md">Create Project</button>
        </form>
    </div>
    
   
</body>
</html>
